modules = ["nodejs-20", "web", "java-graalvm22.3"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/engtv: web"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && PORT=8080 pnpm run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "artifacts/engtv: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/engtv && PORT=21959 BASE_PATH=/ pnpm run dev"
waitForPort = 21959

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/mockup-sandbox && PORT=8081 BASE_PATH=/__mockup pnpm run dev"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
